@import url("https://fonts.googleapis.com/css2?&family=Inclusive Sans&display=swap");

:root {
  --primary: #ffffff;
  --secondary: #e1deed;
  --tertiary: #c9aecc;
  --accent: #f2b488;
  --background: #251f47;
  --link: #97ebfc;
  --visited: #babefc;

  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  overscroll-behavior: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

.show {
  opacity: 100%;
}

.hidden {
  opacity: 0%;
}

.link {
  color: var(--link);
  transition: color 0.2s ease-in-out;
}

.link:visited {
  color: var(--visited);
}

.link:hover {
  color: var(--accent);
}

/* ✿✿✿ COLORS ✿✿✿ */

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.tertiary {
  color: var(--tertiary);
}

.accent {
  color: var(--accent);
}

.background {
  color: var(--background);
}

/* ✿✿✿ TYPOGRAPHY ✿✿✿ */

.h1 {
  font-family: "good-times", sans-serif;
  font-size: 5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4rem;
  text-transform: uppercase;
}

.h1-mobile {
  font-family: "good-times", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3rem;
  text-transform: uppercase;
}

.h2 {
  font-family: "good-times", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  text-transform: uppercase;
}

.h2-mobile {
  font-family: "good-times", sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  text-transform: uppercase;
}

.h3 {
  font-family: "good-times", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  text-transform: uppercase;
}

.h3-mobile {
  font-family: "good-times", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
  text-transform: uppercase;
}

.body-xl {
  font-family: "Inclusive Sans", sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.body-l {
  font-family: "Inclusive Sans", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.body-l-mobile {
  font-family: "Inclusive Sans", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

.body-m {
  font-family: "Inclusive Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

.body-m-mobile {
  font-family: "Inclusive Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.body-s {
  font-family: "Inclusive Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.body-s-mobile {
  font-family: "Inclusive Sans", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.bold {
  font-weight: 700;
}

/* ✿✿✿ BUTTONS ✿✿✿ */

.large-button {
  display: inline-flex;
  padding: 0.5rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background-color: var(--primary);
  color: var(--background);
  transition: background-color 0.2s ease-in-out;
}

.large-button:hover {
  background-color: var(--accent);
}

.primary-button {
  display: inline-flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background-color: var(--primary);
  color: var(--background);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.primary-button:hover {
  background-color: var(--accent);
}

.secondary-button {
  display: inline-flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background-color: var(--primary);
  color: var(--background);
  font-family: "Inclusive Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.secondary-button:hover {
  background-color: var(--accent);
}

.tertiary-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  font-family: "Inclusive Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.tertiary-button:hover {
  color: var(--accent);
}

/* ✿✿✿ PAGE ✿✿✿ */

.background {
  width: 100vw;
  overflow-y: hidden;
  background: linear-gradient(
    330deg,
    rgba(119, 52, 127, 1) 0%,
    rgba(37, 31, 71, 1) 100%
  );
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  padding-top: 12rem;
  padding-bottom: 3rem;
  padding-left: 15rem;
  padding-right: 15rem;
  min-height: 100vh;
  z-index: 2;
}

@media (max-width: 866px) {
  .content {
    display: none;
  }
}

.content-mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding-top: 12rem;
  /* padding-bottom: 11.25rem; */
  padding-left: 3rem;
  padding-right: 3rem;
  min-height: 100vh;
  z-index: 50;
}

@media (max-width: 866px) {
  .content-mobile {
    display: flex;
  }
}

.navbar {
  display: flex;
  width: 100%;
  height: 6rem;
  justify-content: space-between;
  flex-shrink: 0;
  font-family: "Inclusive Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--primary);
  z-index: 100;
  position: fixed;
  top: 0;
  transition: opacity 0.2s ease-in-out;
  background: linear-gradient(
    0deg,
    rgba(37, 31, 71, 0) 0%,
    rgba(37, 31, 71, 0.8) 25%,
    rgba(37, 31, 71, 1) 100%
  );
}

@media (max-width: 866px) {
  .navbar {
    display: none;
  }
}

.navbar .logo {
  margin-left: 1rem;
  display: flex;
  width: 12rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  /* align-items: center; */
  /* gap: 16px; */
  /* font-size: 20px; */
}

.navbar .logo img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.navbar .navigation {
  margin-left: 2rem;
  margin-right: 9rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.navbar .navigation a:not(.primary-button):hover {
  color: var(--accent);
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

#mlh-trust-badge {
  display: flex;
  width: 5rem;
  position: absolute;
  top: 0;
  right: 2rem;
  flex-shrink: 0;
}

#mlh-trust-badge-mobile {
  display: flex;
  width: 4rem;
  position: absolute;
  top: 0;
  right: 1.5rem;
  flex-shrink: 0;
}

.navbar-mobile {
  background-color: var(--background);
  height: 4rem;
  z-index: 100;
  position: fixed;
  width: 100%;
  display: none;
}

@media (max-width: 866px) {
  .navbar-mobile {
    display: flex;
  }
}

#menu-toggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 10;
  user-select: none;
  width: 0;
  height: 100%;
}

#menu-toggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menu-toggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: var(--primary);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: var(--primary);
}
#menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: -1.5rem 0 0 -1.5rem;
  padding: 3rem;
  padding-top: 5rem;
  gap: 2rem;
  background-color: var(--background);
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu a {
  transition-delay: 2s;
  align-self: flex-start;
}

#menu-toggle input:checked ~ ul {
  transform: none;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
  z-index: 10;
  margin-top: 100px;
}

.home-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  z-index: 10;
}

.about {
   padding-top: 10rem; 
  /* margin-bottom: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  z-index: 10;
}

.about-mobile {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  z-index: 10;
}

.faq {
  padding-top: 10rem; 
  /* margin-bottom: 175px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  z-index: 10;
}

.faq-mobile {
  padding-top: 5rem;
  /* margin-bottom: 175px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  z-index: 10;
}

.faq-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-container {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  padding: 32px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.question {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  font-family: "Inclusive Sans", sans-serif;
}

.question p {
  transition: color 0.2s ease-in-out;
}

/* Text changes color when any part of the question is hovered */
.faq-container:hover .question p {
  color: var(--accent);
}

/* Text changes color when text is hovered */
/* .question:hover {
  color: var(--accent);
} */

.question svg {
  margin-left: auto;
  align-self: center;
  width: 16px;
  height: 9.587px;
  animation: flipDown 0.7s;
  animation-fill-mode: forwards;
}

.active svg {
  animation: flipUp 0.7s;
  animation-fill-mode: forwards;
}

.answer-container {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.answer {
  text-align: left;
  padding: 10px 0px 0px 0px;
}

@keyframes flipUp {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes flipDown {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0);
  }
}

.countdown {
  padding-top: 10rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  z-index: 10;
}

.countdown-mobile {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  z-index: 10;
}

.sponsors {
  padding-top: 10rem; 
  /* margin-bottom: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  z-index: 10;
}

.sponsors-mobile {
  padding-top: 5rem;
  /* margin-bottom: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  z-index: 10;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.footer-mobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

/* ✿✿✿ SOCIALS ✿✿✿ */

.socials {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  z-index: 100;
  /* position: absolute; */
  /* margin-bottom: 10rem; */
  /* bottom: 0; */
}

.socials .circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

.socials .circle:hover {
  background-color: var(--accent);
}

.socials .logo {
  display: flex;
  color: var(--background);
  max-width: 1.5rem;
  max-height: 1.5rem;
  font-size: 1.5rem;
}

.socials-mobile {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  z-index: 50;
}

.socials-mobile .circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

.socials-mobile .circle:hover {
  background-color: var(--accent);
}

.socials-mobile .logo {
  display: flex;
  color: var(--background);
  max-width: 1rem;
  max-height: 1rem;
  font-size: 1rem;
}

.mlh-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  /* position: absolute; */
  /* margin: 50px; */
  /* bottom: 0; */
}

.mlh-info a:hover {
  color: var(--accent);
  transition: ease-in-out 0.2s;
}

.mlh-info-mobile {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

/* ARROWS */
.arrows {
  margin-top: 100px;
  width: 60px;
  height: 80px;
  cursor: pointer;
}

.arrows path {
  stroke: var(--secondary);
  fill: transparent;
  stroke-width: 4px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

/* ✿✿✿ STARS ✿✿✿ */

#stars {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  opacity: 80%;
  position: absolute;
  overflow: hidden;
}

.star {
  position: absolute;
  background-color: var(--tertiary);
  border-radius: 100%;
  box-shadow: 0 0 2px 2px rgb(255, 255, 255, 0.2);
  animation: sparkle linear infinite;
}

@keyframes sparkle {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
